.services
  - const getIcon = icon => require("../images/icons.svg") + '#' + icon
  .services__item
    h3.services__heading Web design
    p.services__subheading
      | Over more than 3 years designing for the web, you could  expect great designs with the most  popular tools out there.
  //- end item
  .services__item
    h3.services__heading Frontend developing
    p.services__subheading
      | Make your ideas alive with me, I could provide you websites with vanilla JavaScript or React JS, preserving accessibility.
  //- end item
