section.contact-info
  h3.contact-info__heading معلومات الاتصال
  p.contact-info__sub-heading لا تتردد في الاتصال بي في أي وقت. ما عليك سوى اختيار الطريقة المثلى لك أو أرسل لي رسالة باستخدام نموذج الاتصال
  address.contact-info__details
    p.contact-info__item
      strong الهاتف: &nbsp;
      a.contact-info__item__details(href="tel:+201021486160") +20 1021486160
    p.contact-info__item
      strong البريد الإلكتروني: &nbsp;
      a.contact-info__item__details(href="mailto:ahamidEng@outlook.com") ahamidEng@outlook.com
    p.contact-info__item
      strong على المواقع الاجتماعية:
      | &nbsp; @ahamidEng
