.services
  - const getIcon = icon => require("../../images/icons.svg") + '#' + icon
  .services__item
    h3.services__heading تصميم الويب
    p.services__subheading
      | على مدار أكثر من 3 سنوات أصمم المواقع الالكترونية، يمكنك أن تتوقع تصميمات رائعة باستخدام أكثر الأدوات شهرة في المجال
  //- end item
  .services__item
    h3.services__heading تطويب الواجهة الأمامية
    p.services__subheading
      | اجعل أفكارك تنبض بالحياة معي، أنا استطيع أمدادك بمواقع إلكترونية باستخدام الجافا سكريبت الخام أو باستخدام مكتبة ريأكت جي اس
  //- end item
